body {
    margin: 0;
    background-color: #d2e9ff;
}

#text {
    z-index: 15;
    position: absolute;
    background-color: white;
    width: 200px;
    margin: 32px;
    right: 220px;
    bottom: 0;
    padding: 16px;
}
#info {
    padding: 16px 0;
}

.dialog {
    box-shadow: 0 0 8px 8px white;
    z-index: 30;
    position: absolute;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    bottom: 50%;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px 32px;
    font-family: sans-serif;
}

.dialog h1 {
    text-align: center;
}

.dialog p {
}

.dialog div {
    width: 100%;
    text-align: center;
}

.dialog div button {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#window {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}

#world {
    position: absolute;
    top: 100px;
    transform: translate(0px, 0px) scale(0.02, 0.02);
}

#topo {
    position: absolute;
    background-color: #6281bb;
    pointer-events: none;
    width: 100000px;
    height: 40000px;
}

div#diver {
    z-index: 15;
    position: absolute;
}
img#diver-body {
    height: 800px;
}

img#dive-boat {
    top: -5800px;
    left: 6500px;
    z-index: 10;
    position: absolute;
    height: 6000px;
}

img.bubble {
    width: 200px;
    position: absolute;
    z-index: 20;
}



#gauge-assy {
    overflow: hidden;
    height: 444px;
    width: 201px;
    left: 16px;
    bottom: 0;
    z-index: 10;
    position: absolute;
}

img#gauge {
    height: 100%;
    position: absolute;
}

img#gauge-needle {
    height: 200px;
    position: absolute;
    transform: rotate(0deg);
    bottom: 42px;
}

.gauge-text-big, .gauge-text-small, .gauge-text-med {
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    color: #002828;
}

.gauge-text-small {
    font-size: 15px;
}

.gauge-text-med {
    font-size: 18px;
}

.gauge-text-big {
    font-size: 30px;
}

#dive-time {
    left: 45px;
    top: 25px;
}

#depth {
    left: 105px;
    top: 20px;
}

#max-depth {
    left: 30px;
    top: 77px;
}

#no-deco-time {
    left: 118px;
    top: 55px;
}


#lungs-assy {
    overflow: hidden;
    bottom: 16px;
    right: 16px;
    z-index: 10;
    position: absolute;
    height: 200px;
    width: 200px;
}

img#trachea {
    height: 200px;
    position: absolute;
}

.lung {
    height: 200px;
    position: absolute;
}

.lung-background {
    opacity: 0.8;
    filter: saturate(0.5) blur(3px);
}

.lung-foreground {
    /* filter: hue-rotate(-110deg); */
}

.lung-left {
    transform-origin: 84px 30px;
}


.lung-right {
    transform-origin: 110px 30px;
}
